snippet l
	[${1:text}](${2:url})
snippet img
	![${1:alt text}](${2:path})

snippet sub
	${1}<sub>${0}
snippet sup
	${1}<sup>${0}

snippet Note
	> [!NOTE]
	> ${0}
snippet Tip
	> [!TIP]
	> ${0}
snippet Warning
	> [!WARNING]
	> ${0}
snippet Important
	> [!IMPORTANT]
	> ${0}
snippet Caution
	> [!CAUTION]
	> ${0}

snippet details
	<details>

	<summary>${1}</summary>

	${0}

	</details>

